@import url(Colors.css);

.titulo{
    text-align: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(90deg, var(--primaria), var(--secundaria));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.envoltorio{
    width: 420px;
    background: transparent;
    color: #fff;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 30px 40px;
}
.envoltorio h1{
    font-size: 36px;
    text-align: center;
}
.envoltorio .caixa{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.caixa input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.caixa input::placeholder{
    color: #fff;
}
.caixa i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.envoltorio .lembrar{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15 0 15px;
}
.lembrar label input{
    accent-color: #fff;
    margin-right: 3px;
}
.lembrar a{
    color: #fff;
    text-decoration: none;
}
.lembrar a:hover{
    text-decoration: underline;
}
.envoltorio .botao{
    width: 100%;
    height: 45px;
    background: hsla(0, 0%, 0%, 0.439);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}
.envoltorio .botao:hover{
    background: #000000aa;
}
.envoltorio .registro{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.registro p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.registro p a:hover{
    text-decoration: underline;
}
.erro{
    font-size: 12px;
    margin: 3px 0 0 19px;
    color:#ffffff;
}