@import url(Colors.css);

.primaria {
    padding: 10px;
    background-color: var(--primaria);
}

.primaria a {
    color: var(--contrastePrimaria);
    text-decoration: none;
    padding: 20px;
    font-size: x-large;
}

.secundaria {
    background-color: var(--secundaria);
    font-size: x-large;
    align-items: center;
}

.barra {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    position: relative;
}

.dropdown {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

.materias {
    display: none;
    position: absolute;
}

.dropdown:hover > .materias {
    display: block;
}

.conteudos {
    position: absolute;
    display: none;
    left: 100%;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 10%;
}

.materias > :hover + .conteudos,
.conteudos:hover {
    display: block;
}

.filtro{
    background-color: var(--primaria);
    color: var(--contrastePrimaria);
    border-radius: 7px;
    padding: 12px;
    border: none;
}

.inputAno{
    display: flex;
    vertical-align: middle;
    justify-content:space-evenly;
}

.inputAno input{
    border-radius: 10px;
    border: var(--primaria) solid 1px;
    width: 20%;
}