@import url(Colors.css);

*{
    font-family: "Poppins", sans-serif;
}

body{
    margin: 0;
}

.primaria {
    padding: 10px;
    background-color: var(--primaria);
    overflow: hidden;
}

.primaria a {
    color: var(--contrastePrimaria);
    text-decoration: none;
    padding: 20px;
    font-size: x-large;
}

.secundaria {
    font-size: x-large;
    align-items: center;
}

.barra {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    min-height: 40px;
}

.filtro{
    display: flex;
    position: relative;
    float: left;
    vertical-align: middle;
}

.seta.aberta{
    transform: rotate(90deg);
}

.materia{
    background-color: var(--secundaria);
    display: flex;    
    flex-direction: column;
}

.conteudo{
    background-color: aqua;
    padding: 2% 0%;
    display: none;
    align-self: center;
    width: 100%;
    justify-content: center;
}

.conteudo.aberta{
    display: flex;
}

.perguntas{
    display: flex;
    position: relative;
}