@import url(Colors.css);

*{
    font-family: "Poppins", sans-serif;
}

body{
    margin: 0;
}

::-webkit-scrollbar{
    display: none;
}

.primaria {
    padding: 10px;
    background-color: var(--primaria);
}
.primaria a {
    color: var(--contrastePrimaria);
    text-decoration: none;
    padding: 20px;
    font-size: large;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.secundaria {
    font-size: x-large;
    align-items: center;
}

/* .barra {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    min-height: 40px; 
}*/

.filtro{
    position: relative;
    float: left;
    background-color: var(--secundaria);
    min-height: 100vh;
    transition: 0.6s;
    display: none;
}

.filtro.aberta{
    display: block;
}

.filtro::-webkit-scrollbar{
    display: none;
}

.seta.aberta{
    transform: rotate(90deg);
}

.seta-filtro{
    position: relative;
    float: left;
    display: flex;
    left: 0;
    transform: rotate(0deg);
}

.seta-filtro.aberta{
    transform: rotate(180deg);
}

.materia{
    display: flex; 
    flex-direction: column;
    cursor: pointer;
}

.conteudo{
    padding: 2% 0%;
    display: none;
    width: 100%;
    background-color: var(--terciaria);
}

.conteudo.aberta{
    display: flex;
}

.enviar{
    float: right;
    background-color: var(--primaria);
    border: none;
    color: var(--contrastePrimaria);
}

.contentPerguntas{
    margin: 1% 20%;
    text-align: justify;
}

.alternativa{
    margin: 20px;
    vertical-align: middle;
    display: flex;
    gap: 7px;
}

.correto.alternativa{
    background-color: rgb(191, 224, 191);
}